@font-face {
    font-family: Inter;
    src: url(./UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
   position: relative;
}
#cursor{
    z-index: 9999999999;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color:white;
    mix-blend-mode:difference;
}
#fixed-text{
    height:100vh;
    width:100%;
    background-color: rgb(220, 212, 212);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    mix-blend-mode:difference;
}
#fixed-text h1{
    font-size: 13vw;
    line-height: 0.8;
}
#fixed-text #end{
    margin-left: -50vw;
} 
#fixed-text p{
    margin-top:-30vw;
    margin-left:70vw;
    width:15vw;
}
   
#nav{
    position: fixed;
    margin-top:4vw;
    width:100%;
    height:6vw;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 30px;
    z-index: 9999999;
}
#nav h3{
    font-size:33px;
    font-family: Inter;
    color:black;
}
#nav #left #design{
    margin-left: 40px;
}
#scroll{
  position: absolute;
  width:100%;
}
#scroll #page-images{
    width:100%;
    height:100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:1vw 0;
}
#scroll #page-images img{
    height:9vw;
    width:13vw;
    /* mix-blend-mode: difference; */
}
#page-images #one{
   margin-left: -50vw;
}
#page-images #two{
    margin-left:-5vw;
    margin-top:1vw;
}
#page-images #three{
    margin-top:1vw;
    margin-left:-70vw;
}
#page-images #four{
    margin-top:-10vw;
    margin-left:70vw;
}
#scroll #page-video{
    width:100%;
    height:100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content:center;
}
#scroll #page-video #video{
    height:35vw;
    width:60vw;
    object-fit: cover;
    border-radius:52vw;
    overflow: hidden;
}
#scroll #page-video #video video{
    height:100%;
    width:100%;
   
}
#scroll #black-text{
    width:100%;
    /* border-top-left-radius: 50%; */
    /* border-top-right-radius: 50%; */
    height:450vh;
    background-color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20vw;
    color:white;
}
#scroll #black-text h1{
    font-size:11vw;
    font-style: italic;
    font-weight: 500;
}
#scroll #black-text #we{
    margin-left:-30vw;
}
#scroll #black-text #help{
    margin-left:20vw;
}
#scroll #black-text #stand{
    margin-left:-17vw;
    font-family: Inter;
}
#black-text #circle-scroll{
    width:100%;
    height:20vw;
    display: flex;
    align-items: center;
    gap:25px;
    overflow-x: auto;
    white-space: nowrap;
}
#black-text #circle-scroll .circle{
    height:16vw;
    width:16vw;
    border-radius:50vw;
    background-color:rgb(75, 73, 73);
    flex-shrink: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#black-text #circle-scroll #sphere{
    background-color:white; 
} 
#black-text #circle-scroll::-webkit-scrollbar{
    display: none;
}
#scroll #black-text #dreams{
     margin-left:-7vw;
}
#scroll #black-text p{
    font-family:Inter;
}
#scroll #black-text #p1{
    font-size:1.2vw;
    width:25vw;
    margin-left:-40vw;
}
#scroll #black-text #p2{
    font-size:2.8vw;
    width:58vw;
    margin-top:19vw;
    margin-left:30vw;
}
#scroll #black-text #featured{
    margin-top:19vw;
    margin-left:-35vw;
}
#scroll #black-text #work{
    margin-left:-60vw;
    font-family: Inter;
}
